header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.input-text{
  border: none;
}
.input-text:hover{
  border: 1px gray solid;
  padding: 2px;
  border-radius: 5px;

}
.input-button {
  padding: 4px;
  border-radius: 5px;
  border: 1px gray solid;
}
